{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@(.*)$", "^[./]"]
}
