@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* using names that don't designate any design opinions */
  /* Base Template Themeing:
  base = white or black depending on theme use for text and basic backgrounds
  first = 1st focus of a color theme (vaal = red, neon = lightgreen, etc)
  second = 2nd focus of a theme if it exists
  third = 3rd focus 
  inverse = the flip/opposite (for light theme a dark background for dark theme a light background)
  accent = highlights
  muted = luminent drop offs
  */
  :root {
  
    --color-text-base: #f1f1f1 ;
    --color-text-inverted: #000;
    --color-first: #212121 ;
    --color-first-light:#282828 
    --color-first-dark:#121212 
    --color-second:#d9b445 ;
    --color-second-light: #131315;
    --color-second-dark: #131315;
    --color-third: #d9b445; 
    --color-third-dark: #090909; 
    --color-third-light: #1B2240;
    --color-accent:#d9b445;
    --color-accent-light: #F0D641;
    --color-accent-dark: #E6973E;
    
  }

  /* colors: {
    "theme-color-0": "#060F2F",
    "theme-color-1": "#1B2240",
    "theme-color-2": "#383D5B",
    "theme-color-3": "#1054A1",
    "theme-color-4": "#99A6DB",
  }, */

  /* placeholders for future themes WIP*/
  [data-theme='Dark'] {
    --color-text-base: #f1f1f1 ;
    --color-text-inverted: #000;
    --color-first: #212121 ;
    --color-first-dark:#121212 
    --color-first-light:#282828 
    --color-second:#d9b445 ;
    --color-second-dark: #131315;
    --color-second-light: #131315;
    --color-third: #d9b445; 
    --color-third-dark: #090909; 
    --color-third-light: #1B2240;
    --color-accent:#d9b445;
    --color-accent-dark: #E6973E;
    --color-accent-light: #F0D641;
  }

  [data-theme='Light'] {
    --color-text-base: #ffffff;
    --color-text-inverted: #000;
    --color-first: #49558c;
    --color-first-dark:#2E3659
    --color-first-light:#7184D9
    --color-second: #1054A1;
    --color-second-dark: #0B396E;
    --color-second-light: #5FA1ED;
    --color-third: #5FA1ED; 
    --color-third-dark: #E6973E; 
    --color-third-light: #1B2240;
    --color-accent: #d9b445;
    --color-accent-dark: #E6973E;
    --color-accent-light: #F0D641;
  }
  /* placeholders for future themes WIP*/
  [data-theme='Vaal'] {
    --color-text-base: #000;
    --color-text-inverted: #ffffff;
    --color-first: #A80501;
    --color-first-light:#FA0801
    --color-first-dark:#780301
    --color-second: #1054A1;
    --color-second-light: #5FA1ED;
    --color-second-dark: #0B396E;
    --color-third: #780301; 
    --color-third-dark: #580d0c; 
    --color-third-light: #1B2240;
    --color-accent: #d9b445;
    --color-accent-light: #F0D641;
    --color-accent-dark: #E6973E;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #383d5b #060f2f;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #060f2f;
}

*::-webkit-scrollbar-thumb {
  background-color: #383d5b;
  border-radius: 20px;
  border: 3px solid #383d5b;
}

.highcharts-background {
  fill: transparent;
}

.highcharts-stack-labels text {
  fill: white;
}

.highcharts-axis-labels text {
  fill: white;
}

.highcharts-data-label text,
text.highcharts-data-label {
  fill: white;
}

.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0px;
}

.highcharts-color-0 {
  fill: #1054a1;
}

.highcharts-color-1 {
  fill: #a0075b;
}

.highcharts-yaxis .highcharts-  axis-line {
  stroke-width: 2px;
}

.highcharts-range-label rect {
  fill: none;
}

.highcharts-range-label text {
  fill: #ffff;
}

.highcharts-range-input rect {
  fill: none;
}

.highcharts-range-input text {
  fill: #ffff;
}

.highcharts-range-input {
  stroke-width: 1px;
  stroke: #505053;
}

.popper-arrow::before {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 2px;
}

.popper-arrow.bottom {top: -5px;}
.popper-arrow.left {right: -5px;}
.popper-arrow.right { left: -5px;}
.popper-arrow.top { bottom: -5px;}

/* https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker */