@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* using names that don't designate any design opinions */
  /* Base Template Themeing:
  base = white or black depending on theme use for text and basic backgrounds
  primary = 1st focus of a color theme (vaal = red, neon = lightgreen, etc)
  secondary = 2nd focus of a theme if it exists
  accent = highlights
  muted = luminent drop offs
  */
  :root {
    --color-text-base: #ffffff;
    --color-text-inverted: #000;
    --color-primary: #49558c;
    --color-primary-light:#7184D9;
    --color-primary-dark:#2E3659;
    --color-secondary: #1054A1;
    --color-secondary-light: #5FA1ED;
    --color-secondary-dark: #0B396E;
    --color-tertiary: #060F2F;
    --color-tertiary-light: #1B2240;
    --color-accent: #d9b445;
    --color-accent-light: #F0D641;
    --color-accent-dark: #E6973E;
  }

  /* colors: {
    "theme-color-0": "#060F2F",
    "theme-color-1": "#1B2240",
    "theme-color-2": "#383D5B",
    "theme-color-3": "#1054A1",
    "theme-color-4": "#99A6DB",
  }, */

  /* placeholders for future themes WIP*/
  .theme-dark {
    --color-text-base: #ffffff;
    --color-text-inverted: #000;
    --color-primary: #49558c;
    --color-primary-light:#7184D9
    --color-primary-dark:#1B2240
    --color-secondary: #1054A1;
    --color-secondary-light: #5FA1ED;
    --color-secondary-dark: #0B396E;
    --color-accent: #d9b445;
    --color-accent-light: #F0D641;
    --color-accent-dark: #E6973E;
  }

  .theme-spotify {
    --color-text-base: #ffffff;
    --color-text-inverted: #121212;
    --color-primary: #181818;
    --color-primary-light:#404040
    --color-primary-dark:#282828
    --color-secondary: #192734;
    --color-secondary-light: #5FA1ED;
    --color-secondary-dark: #0B396E;
    --color-tertiary: #060F2F;
    --color-tertiary-light: #1B2240;
  
    --color-accent: #29d944e6;
    --color-accent-light: #9febaa;
    --color-accent-dark: #1a7328c5;
  }
  /* placeholders for future themes WIP*/
  .theme-white {
    --color-text-base: #ffffff;
    --color-text-inverted: #000;
    --color-primary: #49558c;
    --color-primary-light:#7184D9
    --color-primary-dark:#2E3659
    --color-secondary: #1054A1;
    --color-secondary-light: #5FA1ED;
    --color-secondary-dark: #0B396E;
    --color-accent: #d9b445;
    --color-accent-light: #F0D641;
    --color-accent-dark: #E6973E;
  }
  /* placeholders for future themes WIP*/
  .theme-vaal {
    --color-text-base: #000;
    --color-text-inverted: #ffffff;
    --color-primary: #A80501;
    --color-primary-light:#FA0801
    --color-primary-dark:#780301
    --color-secondary: #1054A1;
    --color-secondary-light: #5FA1ED;
    --color-secondary-dark: #0B396E;
    --color-accent: #d9b445;
    --color-accent-light: #F0D641;
    --color-accent-dark: #E6973E;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #383d5b #060f2f;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #060f2f;
}

*::-webkit-scrollbar-thumb {
  background-color: #383d5b;
  border-radius: 20px;
  border: 3px solid #383d5b;
}

.highcharts-background {
  fill: transparent;
}

.highcharts-stack-labels text {
  fill: white;
}

.highcharts-axis-labels text {
  fill: white;
}

.highcharts-data-label text,
text.highcharts-data-label {
  fill: white;
}

.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0px;
}

.highcharts-color-0 {
  fill: #1054a1;
}

.highcharts-color-1 {
  fill: #a0075b;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 2px;
}

.highcharts-range-label rect {
  fill: none;
}

.highcharts-range-label text {
  fill: #ffff;
}

.highcharts-range-input rect {
  fill: none;
}

.highcharts-range-input text {
  fill: #ffff;
}

.highcharts-range-input {
  stroke-width: 1px;
  stroke: #505053;
}

.popper-arrow::before {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 2px;
}

.popper-arrow.bottom {top: -5px;}
.popper-arrow.left {right: -5px;}
.popper-arrow.right { left: -5px;}
.popper-arrow.top { bottom: -5px;}

/* https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker */