@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* using names that don't designate any design opinions */
  /* 
 Theme Design Principles and Distinctions: 
 - Color (primary, secondary &  variants)
 - Surfaces (backgrounds and components)
 - States (such as error states)
 - Content (typography and iconography)
 */
  :root {
    /* making dark the default theme for now */
    --color-primary: #212121;
    --color-primary-variant: #252525;
    --color-secondary: #474c50;
    --color-secondary-variant: #5b5f62;
    --color-accent: #faa307;
    --color-accent-variant: #bb7526;
    /* Item Colors */
    --color-normal: #c8c8c8;
    --color-magic: #8888ff;
    --color-rare: #ffff77;
    --color-unique: #af6025;
    --color-gem: #1b9f97;
    /* Surfaces - Backgrounds/Components */
    --color-background-primary: #121212;
    --color-background-primary-variant: #252525;
    --color-background-secondary: #000000;
    --color-background-secondary-variant: #474c50;
    /* States - Errors/ Success etc */
    /* --color-success: 
    --color-error:  */
    /* Content */
    --color-text-base: #f1f1f1;
    --color-text-inverted: #000;
    --color-red: #800000;
  }

  [data-theme="Dark"] {
    /*  Color - Primary+ Variants*/
    --color-primary: #212121;
    --color-primary-variant: #252525;
    --color-secondary: #343638ae;
    --color-secondary-variant: #5b5f626c;
    --color-accent: #f9af25;
    --color-accent-variant: #bb7526;
    /* Surfaces - Backgrounds/Components */
    --color-background-primary: #121212e9;
    --color-background-primary-variant: #252525;
    --color-background-secondary: #000000;
    --color-background-secondary-variant: #474c50;
    /* States - Errors/ Success etc */
    /* --color-success: 
    --color-error:  */
    /* Content */
    --color-text-base: #f1f1f1;
    --color-text-inverted: #000;
  }

  [data-theme="Light"] {
    /*  Color - Primary+ Variants*/
    --color-primary: #ffffff;
    --color-primary-variant: #eeeeee;
    --color-secondary: #b0b5b9;
    --color-secondary-variant: #88b1d3;
    --color-accent: #00b4d8;
    --color-accent-variant: #0077b6;
    /* Surfaces - Backgrounds/Components */
    --color-background-primary: #eeeeee;
    --color-background-primary-variant: #252525;
    --color-background-secondary: #eeeeee;
    --color-background-secondary-variant: #a4a9ad;
    /* States - Errors/ Success etc */
    /* --color-success: 
    --color-error:  */
    /* Content */
    --color-text-base: #000;
    --color-text-inverted: #f1f1f1;
  }

  [data-theme="Original"] {
    /*  Color - Primary+ Variants*/
    --color-primary: #383d5b;
    --color-primary-variant: #2a325b;
    --color-secondary: #1054a1;
    --color-secondary-variant: #0e417c;
    --color-accent: #e7b456;
    --color-accent-variant: #bb7526;
    /* Surfaces - Backgrounds/Components */
    --color-background-primary: #1b2240;
    --color-background-primary-variant: #060f2f;
    --color-background-secondary: #060f2f;
    --color-background-secondary-variant: #5e6da5;
    /* States - Errors/ Success etc */
    /* --color-success: 
    --color-error:  */
    /* Content */
    --color-text-base: #f1f1f1;
    --color-text-inverted: #000;
  }
  /* placeholders for future themes WIP*/
  [data-theme="Vaal"] {
    /*  Color - Primary+ Variants*/
    --color-primary: #212121;
    --color-primary-variant: #252525;
    --color-secondary: #551212;
    --color-secondary-variant: #800000;
    --color-accent: #eee;
    --color-accent-variant: #780301;
    /* Surfaces - Backgrounds/Components */
    --color-background-primary: #101010ac;
    --color-background-primary-variant: #252525;
    --color-background-secondary: #000;
    --color-background-secondary-variant: #220606;
    /* States - Errors/ Success etc */
    /* --color-success: 
    --color-error:  */
    /* Content */
    --color-text-base: #d40700;
    --color-text-inverted: #000;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-secondary-variant);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-primary-variant);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-background-secondary-variant);
  border-radius: 20px;
  border: 1px solid var(--color-background-secondary);
}

.highcharts-background {
  fill: transparent;
}

.highcharts-stack-labels text {
  fill: white;
}

.highcharts-axis-labels text {
  fill: white;
}

.highcharts-data-label text,
text.highcharts-data-label {
  fill: white;
}

.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0px;
}

.highcharts-color-0 {
  fill: var(--color-accent);
}

.highcharts-color-1 {
  fill: var(--color-accent);
}

.highcharts-yaxis .highcharts- axis-line {
  stroke-width: 2px;
}

.highcharts-range-label rect {
  fill: none;
}

.highcharts-range-label text {
  fill: #ffff;
}

.highcharts-range-input rect {
  fill: none;
}

.highcharts-range-input text {
  fill: #ffff;
}

.highcharts-range-input {
  stroke-width: 1px;
  stroke: #505053;
}

.popper-arrow::before {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 2px;
}

.popper-arrow.bottom {
  top: -5px;
}
.popper-arrow.left {
  right: -5px;
}
.popper-arrow.right {
  left: -5px;
}
.popper-arrow.top {
  bottom: -5px;
}

/* https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker */
